<section class="Contact-page">
    <div class="">
        <div class="contact-title">
            <span>Contact Us</span>
            <div class="logo-font"><img src="/assets/Logo.png" alt=""> Sparta Construction</div>
        </div>
        <div class="contact-info-holder">
            <div class="contact-info-box">
                <img src="/assets/Phone.png" alt="">
                <span class="contact-info-title">Phone Number</span>
                <span>(240)-764-9968</span>
            </div>
            <div class="contact-info-box">
                <img src="/assets/Phone.png" alt="">
                <span class="contact-info-title">Phone Number</span>
                <span>(240)-764-9968</span>
            </div>
        </div>
    </div>
    <form method="POST" id="form">
    <input type="hidden" name="access_key" value="YOUR_ACCESS_KEY_HERE">
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Your name" required>
    <label for="Phone">Phone</label>
    <input type="tel" name="phone" placeholder="Your number" required>
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="Your email" required>
    <label for="message">Message</label>
    <textarea name="message" placeholder="Tell us more..."></textarea>
    <input type="checkbox" name="botcheck" class="hidden" style="display: none;">

    <button type="submit">Submit Form <img src="/assets/Logo-black.png" alt=""></button>

    <div id="result"></div>

    </form>
</section>