<ul class="Service-subpage-list">
    <li>Deck and Patio Construction</li>
    <li>Door and Window Replacement</li>
    <li>Driveway and Walkway Paving</li>
    <li>Exterior Painting</li>
    <li>Fascia and Soffit Repair/Replacement</li>
    <li>Foundation Repair</li>
    <li>Gutter Installation and Repair</li>
    <li>Roofing Repair and Replacement</li>
    <li>Siding Installation and Repair</li>
    <li>Waterproofing and Drainage Systems</li>
</ul>