<footer>
    
</footer>

<div class="Koi-tag"> Designed and built by <a href="https://www.Koiwebdevelopment.com/"><img class="Koi-logo" src="./assets/Koi-logo.png" alt="Cute Cat logo"><img class="Koi-logo" src="/assets/Koi-text.png" alt=""></a></div>