<footer>
    <div class="mobile">
        <div class="Footer-icon-holder">
            <a href="https://www.facebook.com/people/Sparta-Construction/61576952803335/#"><img src="/assets/Facebook.png" alt="Facebook"></a>
            <a href="https://www.Yelp.com/"><img src="/assets/Yelp.png" alt="Yelp"></a>
            <a href="https://www.google.com/"><img src="/assets/Google.png" alt="Google"></a>
            <a href="https://www.instagram.com/"><img src="/assets/Instagram.png" alt="Instagram"></a>
        </div>
    </div>

    <div class="desktop">
    <div class="footer-top">
        <span class="footer-nav col-2">
            <span>Get in touch</span>
            <span><img src="/assets/Phone.png" alt="Phone"> 240-764-9968 </span>
            <span><img src="/assets/Email.png" alt="Email"> Info@spartaconstructionDMV.com</span>
            <span><img src="/assets/Location.png" alt="Location"> DC, Maryland, & Virginia</span>
            <span><img src="/assets/Clock.png" alt="Clock"> Sunday-Saturday: 24 hours</span>
        </span>
        <span class="footer-nav col-1">
            <span>Our Site</span>
            <span><a href="/home">Home</a></span>
            <span><a href="/about">About</a></span>
            <span><a href="/services">Services</a></span> 
            <span><a href="/reviews">Reviews</a></span>
            <span><a href="/contact">Contact</a></span>
        </span>
        <span class="footer-nav col-1">
            <span>Connect with us</span>
            <span><a href="https://www.google.com/">Google</a></span>
            <span><a href="https://www.facebook.com/people/Sparta-Construction/61576952803335/#">Facebook</a></span>
            <span><a href="https://www.instagram.com/">Instagram</a></span>
            <span><a href="https://www.thumbtack.com/">Thumbtack</a></span>
            <span><a href="https://www.Yelp.com/">Yelp</a></span>
        </span>
        <span class="footer-branding col-3">
            <img src="/assets/Logo-text.png" alt="Logo">
        </span>
    </div>
    <div class="footer-bot">
        <p>Sparta Construction LLC © 2025</p>
        <p>|</p>
        <p>All Rights Reserved</p>
    </div>
    </div>

    
    
</footer>

<div class="Koi-tag"> Designed and built by <a href="https://www.Koiwebdevelopment.com/"><img class="Koi-logo" src="./assets/Koi-logo.png" alt="Cute Cat logo"><img class="Koi-logo" src="/assets/Koi-text.png" alt=""></a></div>