<header>

    <div class="mobile container">
    
        <div class="headerMobile">
      
          <div class="headerMobile-logo-holder">
            <img src="/assets/Logo.png" alt="Logo">
            <span class="logo-font">Sparta Construction</span>
          </div>
      
          <div id="mySidepanel" class="sidepanel">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              <a href="/home" class="nav-link">Home</a>
              <a href="/about" class="nav-link">About</a>
              <a href="/services" class="nav-link">Services</a>
              <a href="/reviews" class="nav-link">Reviews</a>
              <a href="/contact" class="nav-link">Contact</a>
              <div>
                <a href="https://www.facebook.com/"><img src="/assets/Facebook.png" alt="Facebook"></a>
                <a href="https://www.Yelp.com/"><img src="/assets/Yelp.png" alt="Yelp"></a>
                <a href="https://www.google.com/"><img src="/assets/Google.png" alt="Google"></a>
                <a href="https://www.instagram.com/"><img src="/assets/Instagram.png" alt="Instagram"></a> 
              </div>
              <img src="/assets/Logo-black.png" alt="Logo">
          </div>    
          
          <div id="mySidepanel" class="bar-holder openbtn" onclick="openNav()">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
          </div>
      
        </div>
      
    </div>
  
  
    <div class="desktop logo-font">
      <div class="header-top">
        <div class="header-icon-holder">          
          <a href="https://www.facebook.com/"><img src="/assets/Facebook.png" alt="Facebook"></a>
          <a href="https://www.Yelp.com/"><img src="/assets/Yelp.png" alt="Yelp"></a>
          <a href="https://www.google.com/"><img src="/assets/Google.png" alt="Google"></a>
          <a href="https://www.instagram.com/"><img src="/assets/Instagram.png" alt="Instagram"></a> 
        </div>
        <div class="header-logo-holder">
          <img src="/assets/Logo-black.png" alt="Logo">
          <span>Sparta Construction</span>
        </div>
        
        <a href="/contact" class="button">Call now</a>
      </div>
      <div class="header-underline"></div>
      <nav class="header-nav">
        <ul class="unstyled-list">
          <li><a href="/home" class="nav-link">Home</a></li>
          <li><a href="/about" class="nav-link">About</a></li>
          <li><a href="/services" class="nav-link">Services</a></li>
          <li><a href="/reviews" class="nav-link">Reviews</a></li>
          <li><a href="/contact" class="nav-link">Contact</a></li>
        </ul>
      </nav>
    </div>
      
</header>