<section class="Home-hero">
    <div class="Home-hero-left"></div>
        <img class="Home-hero-center" src="/assets/Home-hero-3.png" alt="">
    <div class="Home-hero-right"></div>
</section>

<div class="desktop">
    <%- include("../partials/header.ejs") %>
</div>

<section class="Home-services">
    <h2 class="logo-font"><img src="/assets/Crest-left.png" class="crest">Our Services<img src="/assets/Crest-right.png" class="crest"></h2>
    <div class="Home-services-intro">
      <div>
        <p>
            At Sparta Construction, we take real pride in every job we take on. From interior renovations to exterior improvements and outdoor builds, we bring skill, focus, and attention to detail to everything we do. Our team works hard to make sure every part of the project is done right, using quality materials and solid   techniques that stand the test of time.
        </p>
        <p class="desktop">
            You can always count on us for clear communication, dependable service, and a job done with care. We show up ready to work, respect your space, and don't cut corners. Our goal is to leave you with results you'll be proud of and an experience that makes us your first call for future projects.
        </p>
      </div>
      <div>
        <span class="desktop"></span>
      </div>
    </div>
    <div class="Home-services-holder">
        <div>
            <div class="Home-services-image"></div>
        </div>
        <div>
            <span class="Home-services-box" style="border-color: var(--primary-color);">
                <div class="Home-services-title">
                    <div class="mobile"></div>
                    <h3 class="logo-font">Exterior    
                    </h3>
                    <div class="plus-minus" onclick="plusMinus(this)">
                        <div class="plus-bar"></div>
                        <div class="minus-bar"></div>
                    </div>
                </div>
                <div class="Home-services-exterior"></div>
                <p>Windows, Roofing & Siding, Doors, Waterproofing, Exterior Painting</p>
            </span>
            <span class="Home-services-box" style="border-color: var(--secondary-color);">
                <div class="Home-services-title">
                    <div class="mobile"></div>
                    <h3 class="logo-font">Interior    
                    </h3>
                    <div class="plus-minus" onclick="plusMinus(this)">
                        <div class="plus-bar"></div>
                        <div class="minus-bar"></div>
                    </div>
                </div>
                <div class="Home-services-interior"></div>
                <p>Painting, Plumbing, Flooring, Remodeling, Electrical, Handyman services</p>
            </span>
            <span class="Home-services-box" style="border-color: var(--tertiary-color);">
                <div class="Home-services-title">
                    <div class="mobile"></div>
                    <h3 class="logo-font">Exterior    
                    </h3>
                    <div class="plus-minus" onclick="plusMinus(this)">
                        <div class="plus-bar"></div>
                        <div class="minus-bar"></div>
                    </div>
                </div>
                <div class="Home-services-outdoor"></div>
                <p>Landscaping, Tree & Bush trimming, Decks, Concrete, Irrigation, Fences</p>
            </span>
        </div>
    </div>
    <a class="button" href="/contact">Schedule now</a>
</section>



<img src="/assets/Koi-logo.png" alt="">

<img src="/assets/Koi-logo.png" alt="">

<img src="/assets/Koi-logo.png" alt="">

<section class="Home-about"></section>