<ul>
    <li>Cabinetry Installation</li>
    <li>Drywall Repair and Installation</li>
    <li>Electrical Wiring and Fixture Installation</li>
    <li>Flooring Installation</li>
    <li>Insulation Installation</li>
    <li>Interior Painting</li>
    <li>Kitchen and Bathroom Remodeling</li>
    <li>Plumbing Fixture Installation</li>
    <li>Trim and Molding Installation</li>
    <li>Wall Removal/Construction</li>
</ul>