<li>Arbor and Pergola Installation</li>
<li>Flower Bed Design and Planting</li>
<li>Garden Lighting Installation</li>
<li>Hedge and Shrub Installation</li>
<li>Irrigation System Installation</li>
<li>Lawn Installation (Sod or Seed)</li>
<li>Mulch and Decorative Stone Application</li>
<li>Planting of Trees and Large Shrubs</li>
<li>Rain Garden Construction</li>
<li>Topsoil and Soil Amendment</li>