<section class="Services-page">
    <h2 class="logo-font"><img src="/assets/Crest-left.png" class="crest">Services<img src="/assets/Crest-right.png" class="crest"></h2>

    <div class="Service-page-body">
        <div class="Service-page-item">
            <img src="/assets/Exterior-2.jpeg" alt="">
            <span class="Service-page-item-title e">Exterior</span>
            <span class="Service-page-item-text">
                From fixing your siding and windows to addressing foundation issues, we'll get your home's exterior solid, secure, and looking its best again.
            </span>
            <a href="/exterior" class="floating-button e">Full list</a>
        </div>
        <div class="Service-page-item">
            <img src="/assets/Interior-2.jpg" alt="">
            <span class="Service-page-item-title i">Interior</span>
            <span class="Service-page-item-text">
                We take care of everything inside your home, from small repairs to big makeovers, making sure your spaces look great and work perfectly for you.
            </span>
            <a href="/interior" class="floating-button i">Full list</a>
        </div>
        <div class="Service-page-item">
            <img src="/assets/Outdoor-2.jpg" alt="">
            <span class="Service-page-item-title o">Outdoor</span>
            <span class="Service-page-item-text">
                Let us turn your outdoor space into something beautiful and usable, with everything from fresh designs and new plantings to keeping it all looking sharp.
            </span>
            <a href="/outdoor" class="floating-button o">Full list</a>
        </div>
    </div>

</section>